<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413052086026-5p592jhramjih83qggtkn56q4i9f1njc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413052086026-5p592jhramjih83qggtkn56q4i9f1njc</string>
	<key>API_KEY</key>
	<string>AIzaSyAkQmHVA4iZEWYQXdCTdXswfSnI5XZFasA</string>
	<key>GCM_SENDER_ID</key>
	<string>413052086026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srios.base</string>
	<key>PROJECT_ID</key>
	<string>flutter-base-project-daf06</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-base-project-daf06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413052086026:ios:024eb79196d622e4ea7cf3</string>
</dict>
</plist>